.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr)); /* 200px -> 12.5rem */
    gap: 1.25rem; 
    padding-top: 13rem;
}

.grid div {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    position: relative;
    height: 23.125rem;
}