.buttonDetails {
    height: 1.875rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: 0.5rem; 
    border: none;
    padding:  1.30rem 1rem 1.30rem 1rem;
    color: white;
    background: #008080;
}

.buttonDetails:hover{
    background: #20B2AA;
    transition: 0.8s;
}

.buttonAddCar{
    height: 1.875rem;
    width: 55%; /* Define a largura como 20% do contêiner pai */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: 0.5rem; 
    border: 2px solid ;
    padding:  1.25rem;
    color: #008080;
    background: white;
}

.buttonAddCar:hover{
    color: #20B2AA;
    transition: 0.8s;
}

.title {
    display: -webkit-box; /* Garante a compatibilidade com navegadores que suportam WebKit */
    -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
    -webkit-box-orient: vertical; /* Define a orientação da caixa de texto */
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    text-overflow: ellipsis; /* Adiciona os "..." no final do texto */
}