.buttonDetails {
    height: 1.875rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: 0.5rem; 
    border: none;
}

.buttonDetails:hover{
    background: #C0C0C0;
    transition: 0.8s;
}

.buttonAddCar{
    height: 1.875rem;
    width: 60%; /* Define a largura como 20% do contêiner pai */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: 0.5rem; 
    border: none;
    padding:  0.625rem;
}

.buttonAddCar:hover{
    background: #00FF7F;
    transition: 0.8s;
}

.title {
    display: -webkit-box; /* Garante a compatibilidade com navegadores que suportam WebKit */
    -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
    -webkit-box-orient: vertical; /* Define a orientação da caixa de texto */
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    text-overflow: ellipsis; /* Adiciona os "..." no final do texto */
}
